##########################################################
#
# Test Config
#
##########################################################

#
# Dest paths 
#

video = \\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\dest_media
music = \\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\dest_music
image = \\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\dest_image
other = \\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\dest_other

#
# System paths
#

tmp = \\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\tmp
crash = \\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\tmp

#
# System files locations
#

log = \\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\import.log 
queue  =\\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\media_queue
kill_list = \\SERVER\Projects\Fat Boy Home Network (FBHN)\Import Media\test environment\kill_files.list 

#
# Other system config things 
#

crash_file_ext = crash.log
lock_ext = lock
