##########################################################
#
# Client Deployed Config. 
#
# NOTE: Only needed values are included
#
##########################################################

#
# System paths
#

crash = \\SERVER\Media\

#
# System files locations
#

log = \\SERVER\Media\import.log 
queue = \\SERVER\Media\media_queue
kill_files = \\SERVER\Media\kill_files.list 

#
# Other config things 
#

crash_file_ext = crash.log
lock_ext = lock
